@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

.contenitoreheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    ul li {
        display: inline-block;
        margin-left: 40px;

    }

    img {
        width: 100px;
    }
}

.testo {
    background-color: #0282f9;
    text-align: end;
    font-size: 12px;
    color: white;
    padding: 10px;
}

.jumbotron {
    height: 400px;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}

.contenitoremain {
    background-color: #1c1c1c;

    .img-comics {
        display: flex;
        flex-wrap: wrap;
        background-color: #1c1c1c;
        padding: 10px 0px;
    }

    .contenuto {
        width: calc((100% / 6) - 20px);
        margin-left: 20px;
        color: white;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-top: 40px;
        }
    }
}

.bgcolor {
    background-color: #0282f9;
    padding: 20px 0px;

    .contenitoreimg {
        color: white;

        img {
            width: 70px;
        }
    }
}